@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Josefin+Sans&family=Josefin+Slab&display=swap');

:root{
    --gray: #1E1E1E;
    --black: #111111;
    --white: #e0e0e0;
    --title: 'Josefin Sans', sans-serif;
    --paragraph: 'Josefin Slab', serif;
    --elegant: 'Great Vibes', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
}

body{
    z-index: 1;
}

/* Logo */

.logo{
    position: absolute;
    width: 60px;
    height: 60px;
    position: absolute;
    z-index: 5;
    margin: 24px;
}

.logo a img{
    width: 60px;
    height: 60px;
    opacity: 0.3;
    transition: 0.3s ease;
}

.logo a img:hover{
    opacity: 1;
    transform: scale(1.1);
}

/* Navigation */

.nav-overlay{
    transition: 0.3s ease-in-out;
}

.nav-overlay i{
    position: absolute;
    display: block;
    right: 0px;
    color: var(--white);
    z-index: 5;
    margin: 36px;
    font-size: 36px;
    opacity: 0.5;
    transition: 0.3s ease;
}

.nav-overlay i:hover{
    opacity: 1;
    transform: scale(1.1);
}

.nav-overlay .nav-overlay-content,
.nav-overlay .nav-overlay-content .nav-container a,
.nav-overlay .nav-overlay-content .close-nav{
    display: none;
}

.nav-overlay .nav-overlay-content.active{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gray);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.nav-overlay .nav-overlay-content.active i{
    align-self: flex-start;
}

.nav-overlay .nav-overlay-content.active .nav-container{
    width: 100%;
}

.nav-overlay .nav-overlay-content.active .nav-container a{
    text-align: center;
    margin: 72px 0px;
    width: 100%;
    display: block;
    width: 100%;
    height: 100%;
    font-family: var(--title);
    text-decoration: none;
    font-size: 72px;
    color: var(--white);
    opacity: 0.5;
    transition: 0.5s ease;
}

.nav-overlay .nav-overlay-content.active .nav-container a:hover{
    background-color: var(--white);
    color: var(--gray);
    opacity: 1;
}

.nav-overlay.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 15;
    transition: 0.3s ease-in-out;
}

/* Landing Page */

main .landing-page{
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
}

main .landing-page .video-wrapper{
    margin: 0px;
    padding: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
}

main .landing-page .video-wrapper video{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

main .landing-page .video-wrapper .video-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8;
    z-index: 1;
    top: 0;
}

main .landing-page h1{
    z-index: 2;
    color: var(--white);
    font-family: var(--elegant);
    font-size: 128px;
    margin-bottom: -20px;
}

main .landing-page p{
    z-index: 2;
    color: var(--white);
    font-family: var(--paragraph);
    font-size: 24px;
}

main .landing-page button.reservationBtn{
    z-index: 2;
    margin: 48px 0px 24px 0px;
    padding: 12px;
    font-family: var(--title);
    font-size: 24px;
    color: var(--white);
    background-color: transparent;
    border: transparent;   
    transition: 0.5s ease;
    border: 2px var(--white) solid;
}

main .landing-page button.reservationBtn a{
    text-decoration: none;
    list-style-type: none;
    color: var(--white);
}

main .landing-page button.reservationBtn:hover{
    background-color: var(--white);
    color: var(--gray);
    transform: scale(1.1);
}

main .landing-page button.reservationBtn a:hover{
    color: var(--gray);
}

main .landing-page img{
    z-index: 2;
    margin: 12px 0px;
    width: 200px;
    height: auto;
}

/* About Us Section */

.container{
    margin: 24px auto;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.container .text-container{
    width: 40%;
    margin: 48px;
}

.container .text-container h1{
    font-family: var(--elegant);
    font-size: 48px;
    color: var(--black);
    margin-left: -20px;
}

.container .text-container h2{
    padding: 0 0 24px 0;
    font-family: var(--title);
    font-size: 24px;
    color: var(--black);
    font-weight: 100;
}

.container .text-container hr{
    width: 5%;
    height: 2px;
    background-color: var(--gray);
    margin: -12px 0px 12px 0px;
}

.container .text-container p{
    font-family: var(--paragraph);
    font-size: 24px;
    color: var(--gray);
}

.container img{
    width: 300px;
    height: 350px;
}

/* Parallax Section */

.parallax-container{
    position: relative;
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.parallax-container .parallax-window{
    position: absolute;
    background: transparent;
    width: 100%;
    height: 100%;
}

.parallax-container .parallax-window .parallax-cover{
    height: 100%;
    width: 100%;
    background-color: var(--black);
    opacity: 0.5;
    z-index: 2;
    position: absolute;
}

.parallax-container h1{
    position: relative;
    font-size: 72px;
    color: var(--white);
    z-index: 3;
    font-family: var(--elegant);
}

/* Menu Section */

.menu-container{
    padding-top: 100px;
    padding-bottom: 100px;
}

.menu-container .row:after{
    content: "";
    display: table;
    clear: both;
}

.menu-container .row{
    margin: 0px 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.menu-container .row .col{
    float: left;
    display: flex;
    width: 30%;
    flex-direction: column;
}

.menu-container .row .col h1{
    align-self: center;
    font-family: var(--elegant);
    font-size: 36px;
}

.menu-container .row .col .food-card{
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.menu-container .row .col .food-card .food-main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: var(--title);
    font-size: 24px;
}

.menu-container .row .col .food-card .food-main .dots{
    border-bottom: 2px dotted var(--black);
    flex-grow: 1;
    
}

.menu-container .row .col .food-card .food-description{
    font-family: var(--paragraph);
    margin: 10px;
    font-size: 14px;
}

/* Gallery Section */

.gallery{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery-container{
    display: grid;
    column-gap: 25px;
    row-gap: 25px;
    grid-template-columns: 500px 500px 500px;
    grid-template-rows: 500px 500px 500px;
    grid-template-areas:
    "a b b"
    "a d c"
    "e e c"
    ;
}

.item-a img, .item-b img, .item-c img, .item-d img, .item-e img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}

.gallery-container .item-a{
    grid-area: a;
    transition: ease 0.5s;
    
}

.gallery-container .item-a:hover{
    transform: scale(1.02);
    transition: ease 0.5s;
}

.gallery-container .item-b{
    grid-area: b;
    transition: ease 0.5s;
    
}

.gallery-container .item-b:hover{
    transform: scale(1.02);
    transition: ease 0.5s;
}

.gallery-container .item-c{
    grid-area: c;
    transition: ease 0.5s;
    
}

.gallery-container .item-c:hover{
    transform: scale(1.02);
    transition: ease 0.5s;
}

.gallery-container .item-d{
    grid-area: d;
    transition: ease 0.5s;
   
}

.gallery-container .item-d:hover{
    transform: scale(1.02);
    transition: ease 0.5s;
}

.gallery-container .item-e{
    grid-area: e;
    transition: ease 0.5s;
    
}

.gallery-container .item-e:hover{
    transform: scale(1.02);
    transition: ease 0.5s;
}

/* Reservation Section */

.reservation{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.reservation-background{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
}

.reservation-background img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.reservation-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--black);
    opacity: 0.8;
    z-index: 2;
}

.reservation h1{
    z-index: 2;
    color: var(--white);
    font-family: var(--elegant);
    font-size: 72px;
    margin-top: 60px;
}

.reservation form{
    margin-top: 5px;
    z-index: 2;
    width: 300px;
}

.reservation form .item p{
    color: var(--white);
    font-size: 18px;
    font-family: var(--title);
}

.reservation form .item input{
    padding: 10px 10px 10px 10px;
    width: 100%;
    margin-bottom: 5px;
    font-family: var(--title);
    font-size: 14px;
    color: #e0e0e0;
    transition: ease 0.3s;
}

.reservation form .item input:focus{
    color: var(--black);
    transform: scale(1.05);
    transition: ease 0.3s;
}

.reservation form .item input::placeholder{
    font-family: var(--title);
    font-size: 14px;
    color: #cfcfcf;
}

.reservation form textarea{
    width: 100%;
    height: 50px;
    resize: none;
    padding: 10px 10px 10px 10px;
    transition: 0.3s ease;
}

.reservation form textarea:focus{
    transform: scale(1.05);
    transition: 0.3s ease;
}

.reservation form .btn{
    margin-top: 10px;
    text-align: center;
}

.reservation form .btn button{
    padding: 10px 30px;
    width: 50%;
    color: var(--white);
    font-family: var(--title);
    font-size: 24px;
    background-color: transparent;
    border: 2px solid var(--white);
    transition: 0.3s ease;
}

.reservation form .btn button:hover{
    color: var(--black);
    background-color: var(--white);
    transition: 0.3s ease;
}

/* Footer section */

footer{
    display: flex;
    flex-direction: column;
    background-color: var(--gray);
    padding: 30px 0px 30px 0px;
    align-items: center;
    justify-content: center;
}

footer .address h4{
    color: var(--white);
    font-family: var(--title);
    font-size: 36px;
    text-align: center;
}

footer .address h4 i{
    margin: 10px 0px;
}

footer .address p{
    color: var(--white);
    font-family: var(--paragraph);
    font-size: 18px;
}

footer i{
    font-size: 36px;
    margin: 15px;
    color: var(--white);
}

/* Responsive */

/* 4K Monitors */

@media only screen and (min-width: 1441px){
    .menu-container .row .col hr{
        width: 5%;
        align-self: center;
        background-color: var(--gray);
    }
}

/* Laptops */

@media only screen and (max-width: 1440px){

    .gallery-container{
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 400px 400px 400px;
    grid-template-areas:
    "a b b"
    "a d c"
    "e e c"
    ;}

    .menu-container .row .col hr{
        width: 10%;
        align-self: center;
    }


}

/* Tablets and small laptops */

@media only screen and (max-width: 1024px){

    .gallery-container{
        grid-template-columns: 300px 300px 300px;
        grid-template-rows: 300px 300px 300px;
        grid-template-areas:
        "a b b"
        "a d c"
        "e e c"
        ;}

    .menu-container .row .col{
        float: left;
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .menu-container .row .col hr{
        width: 5%;
        align-self: center;
    }

}

/* Tablets */

@media only screen and (max-width: 768px){
    .gallery-container{
        grid-template-columns: 200px 200px 200px;
        grid-template-rows: 200px 200px 200px;
        grid-template-areas:
        "a b b"
        "a d c"
        "e e c"
        ;}

    .container{
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .menu-container{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .gallery{
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .container .text-container{
        width: 80%;
    }

    .container .text-container h1, h2{
        text-align: center;
    }

    .container .text-container hr{
        margin: 0 auto;
        margin-bottom: 25px;
        width: 5%;
    }

    .container img{
        width: 450px;
        height: 500px;
    }

}

/* Large Phones */

@media only screen and (max-width: 425px){

    main .landing-page h1{
        font-size: 96px;
    }

    main .landing-page button.reservationBtn{
        padding: 8px;
        font-size: 18px;
    }

    .parallax-container h1{
        font-size: 48px;
    }

    .nav-overlay .nav-overlay-content.active .nav-container a{
        font-size: 36px;
        margin: 36px 0px;
    }

    .container img{
        width: 250px;
        height: 300px;
    }

    .menu-container .row .col .food-card .food-main{
        font-size: 18px;
    }

    .menu-container .row .col .food-card .food-description{
        margin: 10px 0px 0px 0px;
        font-size: 12px;
    }

    .gallery-container{
        column-gap: 0px;
        grid-template-columns: 200px 100px;
        grid-template-rows: 200px 200px 200px 200px 200px;
        grid-template-areas:
        "a a"
        "b b"
        "c c"
        "d d"
        "e e"
        ;
        
    }

    .menu-container .row .col{
        float: left;
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .item-a img, .item-b img, .item-c img, .item-d img, .item-e img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .reservation h1{
        font-size: 36px;
    }

    .reservation form .item p{
        font-size: 12px;
    }

    .reservation form .item input{
        padding: 5px 5px 5px 5px;
        margin-bottom: 10px;
        font-size: 12px;
    }

    .reservation form .item input::placeholder{
        font-size: 12px;
    }

    .reservation form textarea{
        padding: 5px 5px 5px 5px;
    }

    .reservation form .btn button{
        padding: 5px 15px;
        width: 35%;
        font-size: 18px;
    }

    footer{
        padding: 20px 0px 20px 0px;
    }

    footer .address h4{
        font-size: 18px;
    }

    footer .address h4 i{
        font-size: 18px;
    }

    footer .address p{
        font-size: 14px;
    }

    footer .social i{
        font-size: 18px;
    }
}

/* Small Phones */

@media only screen and (max-width: 320px){
    .container .text-container p{
        font-size: 18px;
    }

    .container img{
        width: 200px;
        height: 250px;
    }

    .parallax-container{
        height: 150px;
    }

    .menu-container .row .col .food-card .food-main h4{
        font-size: 13px;
    }

    .menu-container .row .col .food-card .food-description p{
        font-size: 12px;
        width: 105%;
    }

    .reservation form .item input{
        padding: 5px 0px 5px 0px;
    }

    .reservation form textarea{
        padding: 5px 0px 5px 0px;
    }
}