@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Josefin+Sans&family=Josefin+Slab&display=swap');

:root{
    --gray: #1E1E1E;
    --black: #111111;
    --white: #e0e0e0;
    --title: 'Josefin Sans', sans-serif;
    --paragraph: 'Josefin Slab', serif;
    --elegant: 'Great Vibes', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

html{
    overflow-x: hidden;
}

body{
    z-index: 1;
}

/* Landing Page */

main .landing-page{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100vw;
    height: 100vh;
}

main .landing-page .video-wrapper{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

main .landing-page .video-wrapper video{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}

main .landing-page .video-wrapper .video-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8;
    z-index: 1;
    top: 0;
}

main .landing-page h1{
    z-index: 2;
    color: var(--white);
    font-family: var(--elegant);
    font-size: 128px;
    margin-bottom: -20px;
}

main .landing-page p{
    z-index: 2;
    color: var(--white);
    font-family: var(--paragraph);
    font-size: 24px;
}

main .landing-page button.reservationBtn{
    z-index: 2;
    margin: 48px 0px 24px 0px;
    padding: 12px;
    font-family: var(--title);
    font-size: 24px;
    color: var(--white);
    background-color: transparent;
    border: transparent;   
    transition: 0.5s ease;
    border: 2px var(--white) solid;
}

main .landing-page button.reservationBtn a{
    text-decoration: none;
    list-style-type: none;
    color: var(--white);
}

main .landing-page button.reservationBtn:hover{
    background-color: var(--white);
    color: var(--gray);
    transform: scale(1.1);
}

main .landing-page button.reservationBtn a:hover{
    color: var(--gray);
}

main .landing-page img{
    z-index: 2;
    margin: 12px 0px;
    width: 200px;
    height: auto;
}

/* About Us Section */

.container{
    margin: 24px auto;
    display: flex;
    width: 100vw;
    height: 300px;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 200px;
}

.container .text-container{
    width: 40%;
    margin: 48px;
}

.container .text-container h1{
    font-family: var(--elegant);
    font-size: 48px;
    color: var(--black);
    margin-left: -20px;
}

.container .text-container h2{
    padding: 0 0 24px 0;
    font-family: var(--title);
    font-size: 24px;
    color: var(--black);
    font-weight: 100;
}

.container .text-container hr{
    width: 5%;
    height: 2px;
    background-color: var(--gray);
    margin: -12px 0px 12px 0px;
}

.container .text-container p{
    font-family: var(--paragraph);
    font-size: 24px;
    color: var(--gray);
}

.container img{
    width: 300px;
    height: 350px;
}

/* Parallax Section */

.parallax-container{
    position: relative;
    display: flex;
    height: 200px;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.parallax-container .parallax-window{
    position: absolute;
    background: transparent;
    width: 100vw;
    height: 100%;
}

.parallax-container .parallax-window .parallax-cover{
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 2;
    position: absolute;
}

.parallax-container h1{
    position: relative;
    font-size: 72px;
    color: var(--white);
    z-index: 3;
    font-family: var(--elegant);
}

/* Menu Section */

.menu-container{
    padding-top: 50px;
    padding-bottom: 50px;
}